<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Month Streaming Stats</title>
</head>
<body>
    <p> The minimum number of minutes streamed per song in <b> {{ month }} </b> is <b> {{ min }}</b>.</p>
    <p> The maximum number of minutes streamed per song in <b> {{ month }} </b> is <b> {{ max }}</b>.</p>
    <p> The average number of minutes streamed per song in <b> {{ month }} </b> is <b> {{ avg }}</b>.</p>
    <p> The total number of minutes of all songs streamed in <b> {{ month }} </b> is <b> {{ sum }}</b>.</p>
</body>
</html>